<h2>{{title}}</h2>
<h4>{{description}}</h4>
<h6>{{owner}}</h6>

{{#each items}}
  <div class="item well row">
    <h4>{{name}}</h4>

    <div class='col-md-3'>
      <img {{bind-attr src=image}}/>
    </div>

    <div class='col-md-9'>
      <p>
        <span class="property-heading">Description:</span><br>
        {{description}}
      </p>
      <p>
        <span class="property-heading">Movie Title:</span> {{movieName}} ({{premierYear}})
      </p>
      <p>
        <span class="property-heading">Owner:</span> {{owner}}
      </p>
      <p>
        <span class="property-heading">Price:</span> {{price}}
      </p>
    </div>

  </div>
{{/each}}

<p>{{#link-to 'newItem' this.id class="btn btn-default"}}New Item{{/link-to}}</p>

{{outlet}}
