<div class="col-md-12">
  <h4>Please choose a lot below to view items</h4>
  <!-- {{#each}} -->
    <!-- {{thumbImages}}{{title}}{{brief description}}{{lotId}}{{items}}{{lotOwner}} -->
  <!-- {{/each}} -->
</div>
